
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 1fr;
	font-family: "Raleway", sans-serif;
	background-image: url(Images/login2.jpg);
}

h3 {
	font-size: 0.7em;
	letter-spacing: 1.2px;
	color: #a6a6a6;
}

img {
			max-width: 100%;
			filter: drop-shadow(1px 1px 3px #a6a6a6);
		}

.place {
	display: grid;
	grid-template-columns: 0.9fr 1fr;
	margin: auto;
	padding: 2.5em 0;
	min-width: 800px;
	background-color: rgb(235, 249, 248);
	border-radius: 5px;
}

.place__photo {
	position: relative;
}

.place-container {
	position: absolute;
	left: -10em;
	display: grid;
	grid-template-rows: 1fr;
	width: 130%;
	height: 100%;
	border-radius: 6px;
	box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
	border-radius: 6px 6px 0 0;
	
	img {
		border-radius: 20px;
		height: 100%;
		width: 100%;
	}
}

.photo-album {
	padding:10px 20px ;
	border-radius: 5px;
	background-color: rgb(205, 235, 205);

	ul {
		display: flex;
		justify-content: space-around;
	}

	li {
		float: left;
		width: 80px;
		height: 80px;
		padding: 5px;
		border: 1px solid #a6a6a6;
		border-radius: 5px;
        overflow: hidden;
        object-fit: cover;
	
	img {
		height: 100%;
		width: 100%;
	}
    }
}

.place__info {
	padding: 0.8em 0;
}

.title {
	h1 {
		margin-bottom: 0.1em;
		color: #4c4c4c;
		font-size: 2em;
		font-weight: 900;
        
	}

	span {
		font-size: 1em;
		color: #a6a6a6;
	}
}

.price {
	margin: 1.5em 0;
	color: #ff3f40;
	font-size: 1.2em;

	span {
		padding-left: 0.15em;
		font-size: 2.9em;
	}
}

.variant {
	h3 {
		margin-bottom: 1.1em;
	}
   input {
    border-color: red;
    height: 35px;
    width: 150px;
    font-size: larger;
   }
}
.pass {
	h3 {
		margin-bottom: 1.1em;
	}
   input {
    border-color: red;
    height: 35px;
    width: 150px;
    font-size: larger;
   }
}
.pass {
	h3 {
		margin-bottom: 1.1em;
	}
	
   select {
    border:2px solid red;
    height: 35px;
    width: 150px;
    font-size:large;
   }
   option{
	border-color: #01e37f;
   }
}

.description {
	clear: left;
	margin: 2em 0;

	h3 {
		margin-bottom: 1em;
	}

	ul {
		font-size: 0.8em;
		list-style: disc;
		margin-left: 1em;
	}

	li {
		text-indent: -0.6em;
		margin-bottom: 0.5em;
	}
}

.buy--btn {
	padding: 1.5em 3.1em;
	border: none;
	border-radius: 7px;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: #ff3f40;
	box-shadow: 2px 2px 25px -7px #4c4c4c;
	cursor: pointer;

	
}

